[Unit]
Description=Runs homeeToMqtt. Edit Service-File to enable reloading everytime Docker is started or restarted.
#After=docker.service
#BindsTo=docker.service
#ReloadPropagatedFrom=docker.service

[Service]
#ExecStart=/home/pi/.nvm/versions/node/v8.9.4/bin/node /home/pi/homeeToMqtt/app.js
ExecStart=/usr/bin/nodejs /home/pi/homeeToMqtt/app.js
Restart=always
# Restart service after 10 seconds if node service crashes:
RestartSec=10
# Output to syslog:
StandardOutput=syslog
# Error to syslog:
StandardError=syslog
SyslogIdentifier=homeeToMqtt
WorkingDirectory=/home/pi/homeeToMqtt
User=pi
#Group=<alternate group>
Environment=NODE_ENV=production PORT=8000

[Install]
WantedBy=multi-user.target
